.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
    background-color: #1E3A8A;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    bottom: 10px;
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
    font-size: 20px;
}